body
{
height: 100%;
background: rgba(46,46,46,1);
background: -moz-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(43,43,43,1) 47%, rgba(43,43,43,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,46,46,1)), color-stop(47%, rgba(43,43,43,1)), color-stop(100%, rgba(43,43,43,1)));
background: -webkit-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(43,43,43,1) 47%, rgba(43,43,43,1) 100%);
background: -o-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(43,43,43,1) 47%, rgba(43,43,43,1) 100%);
background: -ms-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(43,43,43,1) 47%, rgba(43,43,43,1) 100%);
background: linear-gradient(to bottom, rgba(46,46,46,1) 0%, rgba(43,43,43,1) 47%, rgba(43,43,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#2b2b2b', GradientType=0 );
}
#gogo.well{
min-height: 400px;

background: rgba(3,132,171,1);
background: -moz-linear-gradient(top, rgba(3,132,171,1) 0%, rgba(2,108,141,1) 0%, rgba(0,82,107,0.95) 62%, rgba(0,82,107,0.92) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,132,171,1)), color-stop(0%, rgba(2,108,141,1)), color-stop(62%, rgba(0,82,107,0.95)), color-stop(100%, rgba(0,82,107,0.92)));
background: -webkit-linear-gradient(top, rgba(3,132,171,1) 0%, rgba(2,108,141,1) 0%, rgba(0,82,107,0.95) 62%, rgba(0,82,107,0.92) 100%);
background: -o-linear-gradient(top, rgba(3,132,171,1) 0%, rgba(2,108,141,1) 0%, rgba(0,82,107,0.95) 62%, rgba(0,82,107,0.92) 100%);
background: -ms-linear-gradient(top, rgba(3,132,171,1) 0%, rgba(2,108,141,1) 0%, rgba(0,82,107,0.95) 62%, rgba(0,82,107,0.92) 100%);
background: linear-gradient(to bottom, rgba(3,132,171,1) 0%, rgba(2,108,141,1) 0%, rgba(0,82,107,0.95) 62%, rgba(0,82,107,0.92) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0384ab', endColorstr='#00526b', GradientType=0 );

}

@media screen and (max-width:480px){

  #gogo.well, .container.container-fluid{
	padding:0;
	margin:0;
  }
  .form-inline input[type="radio"]{
   	width: 50px;
	height: 20px;
	margin: auto;
	position: relative;
	background: #fff;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
  }
  .modal-title h2{
	font-size: 100%;
  }
}



.modal-header, .modal-footer {
    border-top:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
    text-align: left;
    font-size: 23px;
    color: white;
    background: rgba(46,46,46,1);
    border-bottom:0px;
    white-space: normal;
}

.modal-header .close {
    font-size: 200%;
    line-height: 1;
    color: red !important; 
    opacity: 1;
    text-shadow: 0 1px 0 #fff;
}


.link{ cursor: pointer }

a.prev, a.next {
    background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 360px;
}



a.prev {            left: 30%;
                    background-position: 0 0; }
a.prev:hover {      background-position: 0 -50px; }
a.prev.disabled {   background-position: 0 -70px !important;  }
a.next {            right: 30%;
                    background-position: -50px 0; }
a.next:hover {      background-position: -50px -50px; }
a.next.disabled {   background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
    cursor: default;
}
 
a.prev span, a.next span {
    display: block;
	}
.pagination {
    position: relative;
    top: 30px;
    text-align: center;
}
.pagination a {
    background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

.carousel
{
	display:block;
	font-size:44px;
}
.paa
{
	padding:10px;
	float:left;
	text-align:left;
	width:890px
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}



#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	//background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
